* {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Karla', sans-serif !important;
    padding: 2em;
}

.gradient {
    background-color: #c7b9ff;
    background-image:
    -webkit-gradient(linear, left bottom, right top, from(#c7b9ff), to(#f3bf99));
    background-image: -webkit-linear-gradient(45deg, #c7b9ff, #f3bf99);
    background-image: -moz-linear-gradient(45deg, #c7b9ff, #f3bf99);
    background-image: -o-linear-gradient(45deg, #c7b9ff, #f3bf99);
    background-image: linear-gradient(to right, #c7b9ff, 50%, #f3bf99);
}

.page-container {
    background-color: aliceblue;
    border-radius: 10px;
    padding: 1em;
    /*height: 100vh;*/
}

.top-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1em;
    margin-bottom: 1em;
}
a {
    text-decoration: none;
}
.logo {
    width: 250px;
}

.row{
    margin-bottom: 1em;
}


.faq-title h2 {
  position: relative;
  margin-bottom: 1em;
  display: inline-block;
  font-weight: 600;
  line-height: 1;
}
.faq-title h2::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 60px;
    height: 2px;
    background: #E91E63;
    bottom: -25px;
    margin-left: -30px;
}
.faq-title p {
  padding: 0 190px;
  margin-bottom: 10px;
}

.faq {
  background: #FFFFFF;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}

.faq .card {
  border: none;
  background: none;
  border-bottom: 1px solid #CEE1F8;
}

.faq .card .card-header {
  padding: 0px;
  border: none;
  background: #C9F8D1;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.faq .card .card-header:hover {
    background: #FCF5B2;
    padding-left: 10px;
}
.faq .card .card-header .faq-title {
  width: 100%;
  text-align: left;
  padding: 0px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  color: #3B566E;
  text-decoration: none !important;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
}

.faq .card .card-header .faq-title .badge {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 14px;
  float: left;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  text-align: center;
  background: #E91E63;
  color: #fff;
  font-size: 12px;
  margin-right: 20px;
}

.faq .card .card-body {
  padding: 30px;
  padding-left: 35px;
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  background-color: #FFFBD6;
  color: #6F8BA4;
  line-height: 28px;
  letter-spacing: 1px;
  border-top: 1px solid #F3F8FF;
}

.faq .card .card-body p {
  margin-bottom: 14px;
}

@media (max-width: 991px) {
  .faq {
    margin-bottom: 30px;
  }
  .faq .card .card-header .faq-title {
    line-height: 26px;
    margin-top: 10px;
  }
}
