* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Karla', sans-serif;
    padding: 2em;
    background-color: #c7b9ff;
}

.page-container {
    background-color: aliceblue;
    border-radius: 10px;
    padding: 1em;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.btn_home {
    align-self: flex-start;
    border: none;
    padding: 1em;
    background: #5035ff;
    border-radius: 10px;
    font-weight: bold;
    font-size: 0.75rem;
    color: #ffffff;
}

.btn_home:hover,
.btn_home:focus {
    background: #c7b9ff;
    cursor: pointer;
    color: black;
}

h1,
.subtitle {
    text-align: center;
}

h1 {
    font-size: 1em;
}

.deadline-p {
    /* max-width: 40ch; */
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover,
a:focus {
    font-weight: 700;
}

a:active {
    text-decoration: underline;
}

.logo {
    width: 250px;
}

.submission {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 1.5em;
}

.submission > a:hover > .submission-img {
    filter: invert(75%);
}

.submission-img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-box-shadow: -5px 5px 0px 5px #2b283a;
    box-shadow: -5px 5px 0px 5px #2b283a;
}

.submission > a {
    text-decoration: none;
}

/* buttons */

.btn {
    text-align: center;
    background: #5035ff;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}

.btn:hover,
.btn:focus {
    transform: skew(-20deg);
}

.btn-poll {
    padding: 1em 2em;
    align-self: flex-end;
    border-radius: 100px;
    font-family: Karla;
    font-size: 0.75rem;
    margin: 0 auto 1em;
}

[data-tooltip]:before {
    content: attr(data-tooltip);
    position: absolute;
    opacity: 0;
}

[data-tooltip]:hover:before {
    opacity: 1;
    margin-top: 30%;
    margin-left: -10%;
    font-size: 1rem;
    color: black;
    text-align: right;
}

li::marker {
    content: '⚡️';
}

.challenge-container {
    display: grid;
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
}

.winner {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    /* transform: scale(1.2); */
    position: relative;
}

.winner::after {
    content: ' 🏆';
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 3rem;
    transform: scale(1) rotate(-3deg);
    filter: drop-shadow(0 0 10px hotpink);
    animation: pulse 1s ease-out infinite alternate;
}

.winner a {
    text-transform: uppercase;
    font-weight: 700;
}

.placeholder {
    background-color: grey;
    width: 100%;
    height: 300px;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 1.5em;
    box-shadow: -5px 5px 0px 5px #2b283a;
    animation: shimmer 2s infinite linear;
    background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
    background-size: 1000px 100%;
}

@keyframes shimmer {
    0% {
        background-position: -1000px 0;
    }
    100% {
        background-position: 1000px 0;
    }
}

@keyframes pulse {
    to {
        transform: scale(1.2) rotate(3deg);
    }
}

/* *************************
desktop styles
************************* */

@media only screen and (min-width: 970px) {
    .logo {
        margin: 0 auto;
        width: 150px;
        height: 65px;
    }
    h1 {
        font-size: 1.8em;
        margin-bottom: 0.5em;
        font-weight: bold;
    }
    .page-container {
        margin: 0 auto;
        max-width: 1500px;
    }
    .challenge-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
    .winner {
        transform: scale(1.2);
    }
    .btn-poll {
        padding: 0.5em 1em;
        font-size: 1.25rem;
        margin: 0;
    }
}
