* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Karla', sans-serif;
    padding: 2em;
    background-color: #c7b9ff;
}

.page-container {
    background-color: aliceblue;
    border-radius: 10px;
    padding: 1em;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.btn_home {
    align-self: flex-start;
    border: none;
    padding: 1em;
    background: #5035ff;
    border-radius: 10px;
    font-weight: bold;
    font-size: 0.75rem;
    color: #ffffff;
}

.btn_home:hover,
.btn_home:focus {
    background: #c7b9ff;
    cursor: pointer;
    color: black;
}

h1,
.subtitle {
    text-align: center;
}

h1 {
    font-size: 1em;
}

.logo {
    width: 250px;
}

.submission {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 1.5em;
}

.submission > a:hover >  .submission-img {
    filter: invert(75%);
}

.submission-img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-box-shadow: -5px 5px 0px 5px #2b283a;
    box-shadow: -5px 5px 0px 5px #2b283a;
}

.submission > a {
    text-decoration: none;
}


/* buttons */

.btn {
    text-align: center;
    background: #5035ff;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}

.btn:hover,
.btn:focus {
    transform: skew(-20deg);
}

.btn-poll {
    padding: 1em 2em;
    align-self: flex-end;
    border-radius: 100px;
    font-family: Karla;
    font-size: 0.75rem;
    margin: 0 auto 1em;
}

.inactive {
    background: lightgrey;
    cursor: not-allowed;
}

.inactive:hover,
.inactive:focus {
    transform: skew(0deg);
}

[data-tooltip]:before {
    content: attr(data-tooltip);
    position: absolute;
    opacity: 0;
}

[data-tooltip]:hover:before {
    opacity: 1;
    margin-top: 30%;
    margin-left: -10%;
    font-size: 1rem;
    color: black;
    text-align: right;
}

li::marker {
    content: '⚡️';
}


/* *************************
desktop styles
************************* */

@media only screen and (min-width: 970px) {
    .logo {
        margin: 0 auto;
        width: 400px;
    }
    h1 {
        font-size: 1.5em;
        margin-bottom: 0.5em;
    }
    .page-container {
        margin: 0 auto;
        max-width: 1500px;
    }
    .challenge-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        max-width: 1400px;
        margin: 0 auto;
        position: relative;
    }
    .btn-poll {
        padding: 0.5em 1em;
        font-size: 1.25rem;
        margin: 0;
    }
    .winner {
        /* background: hotpink; */
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        transform: scale(1.2);
    }
    .winner a {
        font-weight: 700;
    }
}